.tophead{
    position: sticky;
    z-index: 100;
    top:0;

}
.header{
    background-color: transparent;
    display: flex;
    flex-direction:row;
    padding: 10px;
    justify-content:space-between;
    align-items:center;
    top:0px;
    position:sticky;
    z-index: 10;
    color:white;
    transition: background-color 0.5s ;
    min-width: 100%;
}
.header.active{
    background-color: black;
}
.icon{
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
.items{
    display:flex;
    flex-direction: row;
    padding: 0;
}
.item{
    font-size: 1rem;
    list-style: none;
    margin-right: 6rem;
    text-decoration: none;
    line-height: 100%;
    color:white;


}
.item:hover{
    text-decoration: underline yellow;
}
.item:last-child{
    margin-right: 0;
}
a{
    text-decoration: none;
    color: white;
}
a:active {
    color:none;
}
a:visited {
    color:none;
}
.logged{
    font-size: 1rem;
    color: black;
    float:right;
    margin-top: 5px;
}
.logged:hover{
    background-color: rgb(194, 192, 192);
    border-radius: 4px;
}
.loggined{
    position: relative;
}
.usericon{
    cursor: pointer;
}
.usericon:hover ~.userul{
    display:block
}
.userul{
    display: none;
    position: absolute;
    list-style: none;
    background-color: white;
    box-shadow:  1px 1px 5px rgba(0, 0, 0, 0.8);
    left: -52px;
    top: 19px;
    padding-left: 0px;
    width: 119px;
    transition: all 2s linear 2s;
}

.userul:hover{
    display:block
}
.userli{
    line-height: 50px;
    font-size: 0.8rem;
    padding-left: 10px;
   
}
.userli>a {
    color:black;
}
.userli:hover{
    cursor: pointer;
    text-decoration: underline;
}
.menuToggle{
    display:none;
}
#selecter{
    display:none;
}
@media screen and (max-width: 768px) {
    .header{
        position:fixed;
        background-color: black; 
        flex-direction: column;
        min-height:100vh;
        min-width: 100vw;
        justify-content: space-around;
        transform: translateX(100%);
        opacity: 1;
        transition: all 0.5s;
        overflow: hidden;
    }
   
    .items{
        flex-direction: column;
        min-height: 150px;
        justify-content: space-between;
    }
    .item{
        display: block;
        min-width: 100%;
        text-align: center;
    }
    .logo{
        width: 100%;
        position: absolute;
        text-align: center;
    }
     .menuToggle>div>span{
        position: relative;
        display:block;
        margin-bottom: 2px;
        width:30px;
        height:5px;
        background-color: white;
        z-index:13;
        border-radius: 10px;
    }
    .menuToggle>div>span:nth-of-type(1){
        top: 0
    }
    .menuToggle>div>span:nth-of-type(2){
        top: 0;
    }
    .menuToggle>div>span:nth-of-type(3){
        top:0
    }
    .menuToggle>div{
        padding-top: 10px;
        display:block;
      
    }
    #selecter{
        display: block;
        width: 30px;
        height: 20px;
        opacity: 0;
        z-index: 14;
        margin: 0;
        top: 10px;
        left: 10px;
        position: absolute;
        
    }
    .menuToggle{
        position: relative;
        display: flex;
        height: 37px;
        width: 100%;
        z-index: 13;
        top: 0;
        background-color: black;
    }
    #selecter:checked ~ .header{
        transform: translateX(0%);
    }
    .userul{
        display: block;
        list-style: none;
        background-color: black;
        position: static;
        left: 0;
        top:0;
       
    }
    .userli{
        line-height: 50px;
        font-size: 0.8rem;
        padding-left: 10px;
       
    } .userli>a {
        color:white
    }
    .loggined{
        text-align: center;
    }
    .userli{
        padding:0;
    }
   

}